.main{padding-top:0}
.detail{padding-top:0;margin:40px 0}
.detail-title{font-size:40px;font-style:normal;font-family:Impact;font-weight:400;align-self:flex-start;margin-bottom:10px;padding:0 10px}
.detail-inner{display:flex;justify-content:space-between;gap:45px}
.detail-card{max-width:611px;min-height:100%;padding:var(--dl-space-space-halfunit);box-shadow:5px 5px 10px 0 rgba(18,18,18,.5);background-color:rgba(255,238,211,.5)}
.detail__slider{max-width:520px;padding:0 35px}
.swiper-container{max-width:440px;position:relative}
.swiper-wrapper{display:flex;align-items:center}
.swiper-button-next,.swiper-button-prev{width:43px;height:43px}
.swiper-button-prev{left:-35px}
.swiper-button-next{right:-35px}
.swiper-button-next__svg,.swiper-button-prev__svg{filter:url(#shadow)}
.swiper-button-next::after,.swiper-button-prev::after{content:""}