.main{margin:0 auto 20px;padding:0 10px 0}
.product__descr{max-width:1200px;padding:5px;margin:20px 0}
.product__cards{display:grid;margin:40px 0;grid-template-columns:repeat(4,1fr);grid-template-rows:repeat(1,4fr);gap:26px;max-width:1200px}
.product__card{width:100%;min-height:100%;background-color:rgba(var(--dl-color-beige),.5);box-shadow:5px 5px 10px 0 rgba(0,0,0,.5);transition:.3s}
.product__card:hover{transform:scale(1.02)}
.card__img-inner{min-height:216px;display:flex;justify-content:center}
.card__img{-o-object-fit:cover;object-fit:cover}
.card__text-inner{padding:var(--dl-space-space-unit)}
.card__title{font-size:32px;margin-bottom:var(--dl-space-space-halfunit)}
.card__descr{color:var(--dl-color-gray-500)}