@font-face {
  font-family: "Bahnschrift";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/FiraMedium.woff");
}
@font-face {
  font-family: "Impact";
  font-style: normal;
  font-weight: 400;
  font-stretch: condensed;
  src: url("../fonts/src/Impact.ttf");
}
:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #d9d9d9;
  --dl-size-size-16px: 0.8rem;
  --dl-size-size-20px: 1rem;
  --dl-size-size-32px: 1.6rem;
  --dl-size-size-48px: 2.4rem;
  --dl-size-size-60px: 3rem;
  --dl-size-size-96px: 4.8rem;
  --dl-size-size-144px: 7.2rem;
  --dl-size-size-192px: 9.6rem;
  --dl-size-size-288px: 14.4rem;
  --dl-size-size-450px: 22.5rem;
  --dl-size-size-1328px: 66.4rem;
  --dl-color-danger-300: #a22020;
  --dl-color-danger-500: #bf2626;
  --dl-color-danger-700: #e14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #ffffff;
  --dl-color-primary-100: #003eb3;
  --dl-color-primary-300: #0074f0;
  --dl-color-primary-500: #14a9ff;
  --dl-color-primary-700: #85dcff;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32a94c;
  --dl-color-success-700: #4cc366;
  --dl-color-green: #114425;
  --dl-color-beige: 255, 238, 211;
  --dl-color-beigefull: #ffeed3;
  --dl-space-space-halfunit: 0.4rem;
  --dl-space-space-unit: 0.8rem;
  --dl-space-space-oneandhalfunits: 1.2rem;
  --dl-space-space-twounits: 1.6rem;
  --dl-space-space-threeunits: 2.4rem;
  --dl-space-space-fourunits: 3.2rem;
  --dl-space-space-70px: 3.5rem;
  --dl-space-space-fiveunits: 4rem;
  --dl-space-space-sixunits: 4.8rem;
  --dl-space-space-180px: 9rem;
  --dl-space-space-200px: 10rem;
  --dl-space-space-360px: 18rem;
  --dl-radius-radius-round: 50%;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  font-family: "Bahnschrift";
  font-stretch: condensed;
  font-size: 20px;

  /*-ms-overflow-style: none;*/
  /*IE 10+*/
  /*scrollbar-width: none;*/
  /*Firefox*/
}

::-webkit-scrollbar {
  /*Chrome based*/
  /*width: 0px;
  background: transparent;*/
}

body {
  height: 100%;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  line-height: 1.15;
  color: var(--dl-color-gray-black);
}

* {
  box-sizing: border-box;
  border: 1px solid #000;
}

p,
li,
ul,
pre,
div,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
blockquote,
figcaption {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

input {
  padding: 2px 4px;
  bottom: none;
}

input:focus {
  outline: none;
}

/*--------------------------base----------------------------------------*/
.section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: var(--dl-space-space-180px);
}

.section__inner {
  max-width: 1220px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
}

.section__title {
  color: var(--dl-color-green);
  font-size: var(--dl-size-size-60px);
  text-align: center;
  font-family: "Impact";
  text-transform: capitalize;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.button {
  color: var(--dl-color-gray-black);
  display: flex;
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  border: 4px solid #000;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  background-color: transparent;
  font-stretch: condensed;
  &:hover {
    opacity: 0.5;
  }
}

.button__text {
  font-size: 1.6rem;
}

.button__arrow {
  width: 24px;
  height: 24px;
  object-fit: cover;
  align-self: center;
  margin-left: 0.5rem;
}

.button-readnext {
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  font-size: var(--dl-size-size-20px);
}

.button-readnext {
  .button__arrow {
    width: 13px;
    height: 13px;
  }
}

.button-showmore {
  align-items: center;
  font-size: 1.6rem;
}

/*------------------------popup-order-----------------------------------*/
.popup__container {
  position: relative;
}

.popup-order__button-close {
  position: absolute;
  background-color: transparent;
  top: 0;
  right: 0;
}

.popup-order,
.popup-accepted {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 22px 40px 40px 100px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
  background-size: cover;
  z-index: 45;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.popup-accepted {
  padding: 46px 114px;
}

.popup-order {
  width: 1000px;
  height: 770px;
}

.popup-order__list-col {
  display: grid;
  width: 620px;
}

.popup-order__col-list-item,
.popup-order__row-list-item {
  box-sizing: inherit;
  list-style: none;
}

.popup-order__col-list-item + .popup-order__col-list-item {
  margin-top: 25px;
}

.popup-order__col-list-item .svg_container {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.popup-order__list-row {
  display: flex;
  align-items: end;
  margin-bottom: 25px;
  margin-top: 20px;
  width: 620px;
  justify-content: space-between;
}

.popup-order__row-list-item {
  min-width: 165px;
}

.popup-order__row-list-item .svg_container {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

#sizeLabel {
  height: 60px;
  display: flex;
  align-items: center;
}

.popup-order__input-label,
.popup-order__row-select-label,
.popup-order__row-file-label {
  font-size: 1.4rem;
  font-family: "Bahnschrift";
}

.popup-order__row-file-label {
  margin-bottom: 7px;
}

.popup-order__col-list-item input,
.popup-order__row-select {
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(var(--dl-color-beige), 0.4);
  font-size: 1rem;
  font-family: "Bahnschrift";
}

.popup-order__col-list-item input {
  width: 620px;
}

.popup-order__row-custom-select {
  position: relative;
}

/*hide original SELECT element*/
.popup-order__row-select {
  display: none;
}

.select-selected {
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(var(--dl-color-beige), 0.4);
  font-size: 1rem;
  font-family: "Bahnschrift";

  /* Style the arrow inside the select element*/
  &:after {
    position: absolute;
    content: "";
    top: 18px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: var(--dl-color-gray-black) transparent transparent transparent;
  }
}

/* Point the arrow upwards when the select box is open (active)*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent var(--dl-color-gray-black) transparent;
  top: 12px;
}

/* style the items (options), including the selected item*/
.select-items div,
.select-selected {
  color: var(--dl-color-gray-black);
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options)*/
.select-items {
  position: absolute;
  background-color: rgba(var(--dl-color-beige), 1);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 98;

  white-space: nowrap;
  overflow-y: auto;
  text-overflow: ellipsis;
  max-height: 320px;
}

/* Hide the items when the select box is closed*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.popup-order__col-list.popup-order__col-list-item input,
.popup-order__row-list.popup-order__row-list-item input {
  padding: 7px 20px 7px;
  width: 620px;
  height: 35px;
}

.popup-order__col-list-item input[type="file"] {
  display: none;
}

.popup-order__custom-label-file-input {
  width: 620px;
  height: 96px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(var(--dl-color-beige), 0.4);
  padding: 6px 12px;
  cursor: pointer;
  font-size: 1.6rem;
  font-family: "Bahnschrift";
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/*-------------------------popup-accepted------------------------------------*/
.popup-accepted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-accepted__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-order.active,
.popup-accepted.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.popup-order__button-send,
.popup-accepted__button {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-family: "Bahnschrift";
  text-align: center;
  border-width: 4px;
  border-color: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  margin-top: 20px;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}

.popup-order__button-send {
  margin-top: var(--dl-space-space-70px);
  margin-left: 156px;
}

.popup-accepted__title {
  color: var(--dl-color-green);
  font-size: 1.6rem;
  font-family: "Bahnschrift";
  margin-bottom: 10px;
}

.popup-accepted__descr {
  padding: 2px 5px;
  width: 430px;
  font-size: 1rem;
  font-family: "Bahnschrift";
}

.popup-order__button-text {
  font-size: 1.6rem;
  align-self: center;
  font-family: "Bahnschrift";
}
.popup-accepted__button-text {
  font-size: 1rem;
  align-self: center;
  font-family: "Bahnschrift";
}

.popup-accepted__decor {
  margin-bottom: 20px;
}

.popup-accepted__circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: rgba(var(--dl-color-beige), 0.4);
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
  position: relative;
}

.popup-accepted__sign {
  position: absolute;
  width: 85px;
  height: 110px;
  top: 25%;
  left: 30%;
}
/*---------------------wrapper-with-blur--------------------------------------*/

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: repeat-y;
  transition: 0.5s;
}

#blur.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none; /*'user-select' is not supported by Safari, Safari on iOS. Add '-webkit-user-select' to support Safari 3+, Safari on iOS 3+.*/
}
/*-----------------------------header-------------------------------------*/

.header {
  width: 100%;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.header__container {
  max-width: 1220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 10px;
  margin: 0 auto;
}

.logo {
  cursor: pointer;
  height: 88px;
}

.menu__list {
  display: flex;
  gap: 60px;
}

.menu__list-link {
  color: var(--dl-color-beigefull);
  font-size: var(--dl-size-size-32px);
  font-family: "Bahnschrift";
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    opacity: 0.5;
  }
}

.menu__btn {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.menu__btn span {
  height: 2px;
  background-color: #ffeed3;
  width: 100%;
}

/*-------------------------main--------------------------------------------*/

.main {
  flex-grow: 1;
  padding-top: 132px;
}
/*-------------------------------crumbs-----------------------------------*/
.crumbs {
  /*padding-top: 132px;*/
  width: 100%;
  position: relative;
  margin-top: 132px;
  background-image: url(./images/crumbs-img-200h.png);
  background-size: auto auto;
  background-position: top;
  background-repeat: no-repeat;
}
/*.crumbs__bg {
  width: 100%;
  height: 90px;
  object-fit: cover;
}*/

.crumbs__content {
  /*padding-top: 132px;*/
  /*z-index: 1;*/
  /*position: absolute;*/
  /*top: 17px;
  left: 356px;*/
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.3rem;
  max-width: 1220px;
  padding: 0 410px 15px 10px;
  margin: 10px auto;
  text-align: center;
}
.crumbs__link .crumbs-arrow {
  text-decoration: none;
}

.svg-home-icon-dims {
  width: 78px;
  height: 88px;
}

.crumbs-arrow {
  margin: 0 20px 0;
  height: 17px;
}
.crumbs__link:hover {
  text-decoration: underline;
}

/*------------------------footer-----------------------------------*/

.footer {
  width: 100%;
  height: 71px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

/*-----------------------------media---------------------*/

@media (max-width: 1075px) {
  .menu__btn,
  .logo__link {
    position: relative;
    z-index: 10;
  }
  .menu__btn {
    display: flex;
  }

  .menu__list {
    position: absolute;
    z-index: 5;
    background-color: #151515;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    padding-top: 200px;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }

  .menu__list.menu__list--active {
    transform: translateY(0);
  }
}
