.main{
  padding-top: 0;
}

/*.container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin: 80px auto;
}*/
.branding{
  padding-top: 0;
  margin: 40px 0;
}

.branding__inner {
  width: 100%;
  padding: 0 10px;
}

.branding__title {
  margin-bottom: 40px;
}

.branding__descr {
  font-size: 32px;
  text-align: center;
  font-stretch: 75%;
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: 10px;
}

.branding__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.branding__gallery-mobile {
  display: none;
  max-width: 580px;
  margin-bottom: 40px;
}
.branding__gallery {
  display: grid;
  grid-template-areas:
    "item1  item1  item2  item2  item2  item3"
    "item1  item1  item4  item4  item5  item5"
    "item6  item8  item9  item11 item11 item11"
    "item7  item8  item9  item11 item11 item11"
    "item7  item8  item10 item11 item11 item11"
    "item12 item12 item13 item13 item13 item14"
    "item12 item12 item15 item15 item16 item16"
    "item17 item19 item20 item22 item22 item22"
    "item18 item19 item20 item22 item22 item22"
    "item18 item19 item21 item22 item22 item22";
  grid-gap: 10px;
  margin-bottom: 40px;
}
.item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
}
.item6 {
  grid-area: item6;
}
.item7 {
  grid-area: item7;
}
.item8 {
  grid-area: item8;
}
.item9 {
  grid-area: item9;
}
.item10 {
  grid-area: item10;
}
.item11 {
  grid-area: item11;
}
.item12 {
  grid-area: item12;
}
.item13 {
  grid-area: item13;
}
.item14 {
  grid-area: item14;
}
.item15 {
  grid-area: item15;
}
.item16 {
  grid-area: item16;
}
.item17 {
  grid-area: item17;
}
.item18 {
  grid-area: item18;
}
.item19 {
  grid-area: item19;
}
.item20 {
  grid-area: item20;
}
.item21 {
  grid-area: item21;
}
.item22 {
  grid-area: item22;
}

.gallery-card {
  display: flex;
}

.gallery-card__img {
  max-width: 100%;
  object-fit: cover;
}

.branding__swiper-container {
  max-width: 580px;
  min-width: 340px;
}

.branding__slide {
  min-height: 340px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.branding__buttons{
  display: flex;
}