@media (min-width: 1921px) {
  .crumbs {
    background-size: cover;
  }
  .crumbs__content {
    padding: 20px 410px 24px 10px;
  }
  .top {
    width: 100vw;
    height: 100vh;
  }
  .top__img {
    display: none;
  }

  .top__title {
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffeed3;
    font-size: 4rem;
  }

  .top__descr {
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffeed3;
    font-size: 2rem;
  }

  .top__button {
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffeed3;
    border: 4px solid #ffeed3;
    font-size: 2rem;
  }

  .swiper-home {
    width: 100vw;
    height: 100vh;
    margin-top: 0;
    margin-right: 0;
    filter: brightness(0.8);
    margin-top: -132px;

    .swiper-wrapper {
      width: 100vw;
      width: 100vh;
    }
    .swiper-slide {
      width: 100vw;
      height: 100vh;
    }

    .swiper-zoom-container {
      width: 100vw;
      height: 100vh;
      img {
        width: 100vw;
        height: 100vh;
      }
    }
  }
}
@media (max-width: 1920px) {
  .crumbs{
    background-position: top;
  }
  .top__img {
    height: 475px;
  }
  .swiper-home {
    width: 59vw;
  }
}
@media (max-width: 1855px) {
  .top__title,
  .top__descr,
  .top__button {
    left: 290px;
  }
  .top__descr {
    width: 500px;
  }
}
@media (max-width: 1636px) {
  .top__title,
  .top__descr,
  .top__button {
    left: 220px;
  }
  .top__descr {
    width: 447px;
  }
  .swiper-home {
    width: 60vw;
  }
}
@media (max-width: 1500px) {
  .top__title,
  .top__descr,
  .top__button {
    left: 153px;
  }
}
@media (max-width: 1400px) {
  .top__title,
  .top__descr,
  .top__button {
    left: 90px;
  }
  .top__descr {
    width: 500px;
  }
  .swiper-home {
    width: 64vw;
  }
}
@media (max-width: 1250px) {
  .top__descr {
    width: 400px;
  }
  .footer-main__copy {
    justify-content: space-around;
  }
  .copy-main__logo {
    margin-right: 0;
  }
}
@media (max-width: 1017px) {

  .crumbs__content{
    padding-right: 310px;
  }
  .products__swiper-container .swiper-button-prev,
  .products__swiper-container .swiper-button-next {
    display: none;
  }
  .about__video,
  .contacts__map {
    width: 100%;
  }
  .top__title,
  .top__descr,
  .top__button {
    left: 70px;
  }
  .top__descr {
    width: 300px;
  }
  .swiper-home {
    width: 68vw;
  }
  .detail-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .detail-inner{
    /*justify-content: center;*/
    /*flex-wrap: wrap;*/
    flex-direction: column;
  }
  .detail__slider{
    order: -1;
  }
}
@media (max-width: 795px) {
  
  .crumbs__content{
    padding-right: 200px;
    font-size: 20px;
  }
  .footer-main__contacts,
  .blog__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .copy-main__logo {
    margin-right: 0;
  }
  .branding__descr {
    text-align: center;
  }
  .top {
    width: 100vw;
  }
  .top__title {
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffeed3;
  }
  .top__descr {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffeed3;
  }
  .top__button {
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffeed3;
    border: 4px solid #ffeed3;
  }
  .swiper-home {
    width: 100vw;
    height: 100vh;
    filter: brightness(0.8);
    margin-top: -132px;

    .swiper-slide {
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      max-width: none;
    }
  }
  .top__img {
    display: none;
  }
  .detail__slider{
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .detail__swiper-buttons{
    display: none;
  }
}
@media (max-width: 601px) {
  .crumbs__content{
    padding-right: 110px;
  }
  .crumbs-arrow {
    margin: 0 10px 0;
  }
  .branding__gallery-mobile {
    display: block;
  }
  .branding__gallery-desktop {
    display: none;
  }
  .branding__buttons {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .branding__buttons .button-showmore {
    margin-top: 20px;
  }
  .footer-main__copy {
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
  }
  .card__title{
    font-size: 32px;
  }
}
@media(max-width: 475px) {
  .crumbs__content{
    padding-right: 50px;
    font-size: 16px;
  }
  .crumbs-arrow {
    margin: 0 5px 0;
  }
  .detail__swiper-container{
    max-width: 340px;
  }

}
