.main {
  width: 1200px;
  margin: 80px auto 20px;
  padding-top: 0;
}
.product__descr {
  width: 1200px;
  padding: 5px;
  margin-bottom: 20px 0;
}

/*--------------------------------cards------------------------------------*/
.product__cards {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 40px 0;
}
.cards__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cards__row {
  width: 1200px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.cards__row+.cards__row {
  padding-top: 40px;
}

.product__card {
  width: 280px;
  min-height: 100%;
  background-color: rgba(var(--dl-color-beige), 0.5);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
.product__card:hover {
  transform: scale(1.02);
}
.card__img-inner {
  width: 280px;
  min-height: 216px;
  display: flex;
  justify-content: center;
}
.card__img {
  object-fit: cover;
}
.card__text-inner {
  width: 280px;
  padding: var(--dl-space-space-unit);
}
.card__title {
  font-size: 32px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.card__descr {
  color: var(--dl-color-gray-500);
}
