@media(max-width: 1600px) {
    .nav-links-links {
        gap: 48px;
        justify-content: flex-end;
    }
    .home-navbar-interactive{
        width: 1200px;
    }
    .top-text{
        left: 20%;
    }
    .home-branding {
        flex: 0 0 auto;
        margin-left: var(--dl-space-space-twounits);
        margin-right: var(--dl-space-space-fourunits);
    }

    .home-image {
        width: auto;
    }

    .home-slider {
        height: 367px;
    }
}

@media(max-width:1540px) {

}

@media(max-width:1450px) {

}

@media(max-width: 1200px) {
    .home-burger-menu {
        display: flex;
    }

    .nav-links-links {
        gap: var(--dl-space-space-twounits);
        justify-content: space-between;
    }

    .home-image01 {
        width: 100%;
        height: var(--dl-size-size-450px);
    }

    .home-slider {
        height: 321px;
    }
}

@media(max-width: 991px) {
    .home-navbar-interactive {
        gap: var(--dl-space-space-fourunits);
        justify-content: center;
    }

    .nav-links-link {
        padding-right: var(--dl-space-space-twounits);
    }

    .nav-links-link1 {
        padding-right: var(--dl-space-space-twounits);
    }

    .nav-links-link2 {
        padding-right: var(--dl-space-space-twounits);
    }

    .nav-links-link3 {
        padding-right: var(--dl-space-space-twounits);
    }

    .accordion-content {
        gap: var(--dl-space-space-unit);
    }

    .home-text01 {
        line-height: 30px;
    }

    .home-section-top {
        padding-bottom: var(--dl-space-space-fourunits);
    }

    .home-section-about {
        padding-top: var(--dl-space-space-fourunits);
        padding-bottom: var(--dl-space-space-fourunits);
    }

    .home-section-products {
        padding-top: var(--dl-space-space-fourunits);
        padding-bottom: var(--dl-space-space-fourunits);
    }

    .home-section-gallery {
        padding-top: var(--dl-space-space-threeunits);
        padding-bottom: var(--dl-space-space-fourunits);
    }

    .home-section-blog {
        padding-top: var(--dl-space-space-fourunits);
        padding-left: var(--dl-space-space-oneandhalfunits);
        padding-right: var(--dl-space-space-oneandhalfunits);
        padding-bottom: var(--dl-space-space-fourunits);
    }

    .home-blog {
        flex-direction: column;
    }

    .home-container11 {
        margin-right: 0px;
        margin-bottom: var(--dl-space-space-threeunits);
    }

    .home-container12 {
        height: 350px;
    }

    .home-container16 {
        margin-right: 0px;
        margin-bottom: var(--dl-space-space-threeunits);
    }

    .home-container17 {
        height: 350px;
    }

    .home-container22 {
        padding-top: var(--dl-space-space-fourunits);
        padding-left: var(--dl-space-space-oneandhalfunits);
        padding-right: var(--dl-space-space-oneandhalfunits);
        padding-bottom: var(--dl-space-space-threeunits);
    }

    .home-footer-inner {
        padding-top: var(--dl-space-space-threeunits);
        border-color: var(--dl-color-gray-black);
        flex-direction: column;
        padding-bottom: var(--dl-space-space-threeunits);
        border-bottom-width: 1px;
    }
}

@media(max-width: 767px) {
    .home-navbar-interactive {
        padding-top: var(--dl-space-space-twounits);
        justify-content: space-between;
    }

    .nav-links-links {
        display: none;
    }

    .home-burger-menu {
        align-self: flex-start;
    }

    .home-branding1 {
        max-width: 80%;
    }

    .nav-links-links {
        display: none;
    }

    .home-work-with-us {
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
    }

    .home-gallery {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }

    .home-row1 {
        flex-direction: column;
    }

    .home-gallery-card {
        flex-direction: column;
    }

    .home-gallery-card01 {
        flex-direction: column;
    }

    .home-gallery-card02 {
        flex-direction: column;
    }

    .home-gallery-card03 {
        flex-direction: column;
    }

    .home-gallery-card04 {
        flex-direction: column;
    }

    .home-gallery-card05 {
        flex-direction: column;
    }

    .home-gallery-card06 {
        flex-direction: column;
    }

    .home-gallery-card07 {
        flex-direction: column;
    }

    .home-gallery-card08 {
        flex-direction: column;
    }

    .home-gallery-card09 {
        flex-direction: column;
    }

    .home-gallery-card10 {
        flex-direction: column;
    }

    .home-blog {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }

    .home-footer {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }
}

@media(max-width: 479px) {
    .home-mobile-menu {
        padding: 16px;
    }

    .home-container01 {
        height: 100%;
    }

    .home-image01 {
        height: 420px;
    }

    .home-slider {
        height: var(--dl-size-size-288px);
    }

    .home-slider-wrapper {
        height: var(--dl-size-size-288px);
    }

    .home-slider-slide {
        height: var(--dl-size-size-288px);
    }

    .home-gallery {
        padding: var(--dl-space-space-unit);
        flex-direction: column;
    }

    .home-all {
        width: auto;
    }

    .home-blog {
        padding-top: var(--dl-space-space-twounits);
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
        padding-bottom: var(--dl-space-space-twounits);
    }

    .home-footer {
        padding: var(--dl-space-space-unit);
    }
}