.wrapper {
  width: 100%;
  display: flex;
  overflow-x: hidden;
  min-height: 100%;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/MyFolder/bg-body-min-1500w.jpg");
  background-repeat: repeat-y;
  transition: 0.5s;
}

/*---------------------main------------------------------*/
.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin: 80px auto;
}

/*------------------------------cards-----------------------------------*/

.news__cards {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.news__card{
  width: 900px;
  box-shadow: 5px 10px 5px 0px rgba(0, 0, 0, 0.50);
  
}
.news__card+.news__card{
  margin-top: var(--dl-space-space-twounits);
}

.card__container {
  width: 900px;
  
}
.card__head {
  width: 100%;
  height: 300px;
  position: relative;
}

.card__head::after{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,0) 45%, rgba(0,0,0,0) 100%);
}

.card__img {
  width: 100%;
  height: 100%;
  z-index: 40;
  object-fit: cover;
}
.card__title{
  z-index: 41;
  position: absolute;
  left: 35px;
  bottom: 32px;
  font-size: 60px;
  font-family: "Impact";
  color: var(--dl-color-beigefull);
}
.card__content {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  will-change: transform;
  flex-direction: column;
  background-color: rgba(var(--dl-color-beige), 0.4);
}
.card__descr {
  text-align: justify;
  margin-bottom: var(--dl-space-space-unit);

  /*Transparent shadow*/
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1), rgba(0,0,0,0)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card__button {
  display: flex;
  align-self: flex-end;
}


/*----------------toggle-for-cards--------------------------------*/

.card__content--active .card__descr {
  -webkit-text-fill-color: #000;
}

.card__content--active .card__hide-descr {
  display: block;
}

.card__content--active  #btn-down{
  display: none;
}

.card__content--active  #btn-up{
  display: flex;
}

#btn-down{
  display: flex;
}

#btn-up{
  display: none;
}

#btn-up .button__arrow{
  transform: rotate(180deg);
}

.card__descr {
  cursor: pointer;
}

.card__hide-descr {
  display: none; 
}

.card__hide-descr p{
  margin-bottom: 10px;
}
