.wrapper {
  width: 100%;
  display: flex;
  overflow-x: hidden;
  min-height: 100%;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/MyFolder/bg-body-min-1500w.jpg");
  background-repeat: repeat-y;
  transition: 0.5s;
}

/*---------------------main------------------------------*/
.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.container {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin: 80px auto;
}

/*-----------------------------------------------------------------*/

.news__cards {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.news__card{
  width: 900px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  
}
.news__card+.news__card{
  margin-top: var(--dl-space-space-twounits);
}

.card__container {
  width: 900px;
  
}
.card__head {
  width: 100%;
  height: 300px;
  position: relative;
}
.card__img {
  width: 100%;
  height: 100%;
  z-index: 40;
  object-fit: cover;
}
.card__title{
  z-index: 41;
  position: absolute;
  left: 35px;
  bottom: 32px;
  font-size: 60px;
  font-family: "Impact";
  color: var(--dl-color-beigefull);
}
.card__content {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  will-change: transform;
  flex-direction: column;
  background-color: rgba(var(--dl-color-beige), 0.4);
}
.card__descr {
  text-align: justify;
  margin-bottom: var(--dl-space-space-unit);
}
.card__button {
  display: none;
  /* display: flex; */
  align-self: flex-end;
}
