.nav-links-links {
  width: 950px;
  height: 60px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.nav-links-link {
  color: #ffeed3;
  width: auto;
  font-size: 28px;
  font-family: "Bahnschrift";
  font-stretch: 75%;
  text-transform: capitalize;
  text-decoration: none;
}
.nav-links-link1 {
  color: #ffeed3;
  font-size: 28px;
  font-family: "Bahnschrift";
  font-stretch: 75%;
  text-transform: capitalize;
  text-decoration: none;
}
.nav-links-link2 {
  color: #ffeed3;
  font-size: 28px;
  font-family: "Bahnschrift";
  font-stretch: 75%;
  text-transform: capitalize;
  text-decoration: none;
}
.nav-links-link3 {
  color: #ffeed3;
  font-size: 28px;
  font-family: "Bahnschrift";
  font-stretch: 75%;
  text-transform: capitalize;
  text-decoration: none;
}
.nav-links-link4 {
  color: #ffeed3;
  font-size: 28px;
  font-family: "Bahnschrift";
  font-stretch: 75%;
  text-transform: capitalize;
  text-decoration: none;
}
/* @media(max-width: 1600px) {
  .nav-links-links {
    gap: var(--dl-space-space-fourunits);
    justify-content: center;
  }
}
@media(max-width: 1200px) {
  .nav-links-links {
    gap: var(--dl-space-space-twounits);
    width: 600px;
    justify-content: space-between;
  }
}
@media(max-width: 991px) {
  .nav-links-link {
    padding-right: var(--dl-space-space-twounits);
  }
  .nav-links-link1 {
    padding-right: var(--dl-space-space-twounits);
  }
  .nav-links-link2 {
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .nav-links-links {
    display: none;
  }
} */

.header-header {
  width: 100vw;
  position: relative;
}
.header-navbar {
  display: flex;
  background-size: cover;
  justify-content: center;
  background-image: url("public/MyFolder/bg-header-200h.jpg");
}
.header-navbar-interactive {
  width: 1300px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-1328px);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.header-branding {
  flex: 1;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.header-navlink {
  display: contents;
}
.header-image {
  width: 140px;
  cursor: pointer;
  object-fit: cover;
  text-decoration: none;
}
.header-desktop-menu {
  width: 953px;
  display: flex;
}
.header-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.header-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.header-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(17, 68, 37);
}
.header-nav1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-branding1 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.header-text {
  color: #ffeed3;
  font-size: 50px;
  font-family: Inter;
}
.header-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon2 {
  width: var(--dl-size-size-16px);
  height: var(--dl-size-size-16px);
}
.header-middle {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.header-link {
  color: #ffeed3;
  font-size: 40px;
  font-family: "Bahnschrift";
  text-decoration: none;
}
.header-link1 {
  color: #ffeed3;
  font-size: 40px;
  font-family: "Bahnschrift";
  text-decoration: none;
}
.header-link2 {
  color: #ffeed3;
  font-size: 40px;
  font-family: "Bahnschrift";
  text-decoration: none;
}
.header-link3 {
  color: #ffeed3;
  font-size: 40px;
  font-family: "Bahnschrift";
  text-decoration: none;
}
.header-link4 {
  color: #ffeed3;
  font-size: 40px;
  font-family: "Bahnschrift";
  text-decoration: none;
}
.header-work-with-us {
  cursor: pointer;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(229, 254, 88);
}
.header-work-with-us:hover {
  opacity: 0.5;
}
.header-text1 {
  color: #ffeed3;
  display: flex;
  font-size: 30px;
}

.header-root-class-name1 {
  display: none;
}

/* @media(max-width: 1600px) {
  .header-header {
    width: 1600px;
  }
  .header-navbar-interactive {
    width: 100vw;
  }
  .header-branding {
    flex: 0 0 auto;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-fourunits);
  }
  .header-image {
    width: auto;
  }
  .header-mobile-menu {
    justify-content: center;
  }
  .header-work-with-us {
    align-self: center;
    border-color: #ffeed3;
    border-width: 4px;
    border-radius: 0px;
    background-color: transparent;
  }
}
@media(max-width: 1200px) {
  .header-header {
    width: 1200px;
  }
  .header-navbar-interactive {
    justify-content: space-between;
  }
  .header-desktop-menu {
    padding-right: 80px;
    justify-content: flex-end;
  }
}
@media(max-width: 991px) {
  .header-header {
    width: 991px;
  }
  .header-navbar-interactive {
    gap: var(--dl-space-space-fourunits);
    justify-content: space-between;
  }
  .header-desktop-menu {
    display: none;
  }
  .header-burger-menu {
    display: flex;
  }
  .header-icon {
    fill: #ffeed3;
    width: var(--dl-size-size-48px);
    height: var(--dl-size-size-48px);
  }
  .header-nav1 {
    z-index: 100;
  }
  .header-work-with-us {
    align-self: flex-start;
  }
  .header-text1 {
    line-height: 30px;
  }
  .header-root-class-name1 {
    display: none;
  }
}
@media(max-width: 767px) {
  .header-header {
    width: 767px;
  }
  .header-navbar-interactive {
    padding-top: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .header-icon {
    margin-top: var(--dl-space-space-unit);
  }
  .header-work-with-us {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .header-root-class-name1 {
    display: none;
  }
}
@media(max-width: 479px) {
  .header-header {
    width: 479px;
  }
  .header-mobile-menu {
    padding: 16px;
  }
} */

.product1layer-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.product1layer-wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/MyFolder/bg-body-min-1500w.jpg");
  background-repeat: repeat-y;
}
.product1layer-header {
  width: 100%;
  display: none;
}
.product1layer-navbar {
  width: 100%;
  display: flex;
  background-size: cover;
  justify-content: center;
  background-image: url("public/MyFolder/bg-header-200h.jpg");
}
.product1layer-navbar-interactive {
  width: 1200px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-1328px);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.product1layer-branding {
  flex: 1;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.product1layer-navlink {
  display: contents;
}
.product1layer-image {
  width: 140px;
  cursor: pointer;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
.product1layer-image:hover {
  opacity: 0.5;
}
.product1layer-desktop-menu {
  width: 953px;
  display: flex;
}
.product1layer-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.product1layer-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.product1layer-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.product1layer-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.product1layer-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.product1layer-branding1 {
  flex: 1;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  border-color: #61616B;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.product1layer-text {
  color: #27272D;
  font-size: 30px;
  font-family: Inter;
}
.product1layer-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product1layer-icon {
  width: var(--dl-size-size-16px);
  height: var(--dl-size-size-16px);
}
.product1layer-middle {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.product1layer-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.product1layer-work-with-us {
  cursor: pointer;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(229, 254, 88);
}
.product1layer-work-with-us:hover {
  opacity: 0.5;
}
.product1layer-text1 {
  display: flex;
  font-size: 24px;
}
.product1layer-crumbs {
  align-self: center;
}
.product1layer-crumbs-inner {
  width: 100vw;
  height: auto;
}
.product1layer-image1 {
  width: 100vw;
  height: 90px;
  position: absolute;
  object-fit: cover;
}
.product1layer-container1 {
  top: 18px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 19%;
  justify-content: flex-start;
}
.product1layer-navlink01 {
  font-size: 32px;
  font-stretch: 75%;
  text-decoration: none;
}
.product1layer-image2 {
  width: 15px;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.product1layer-navlink02 {
  /* top: 18px;
  left: 18%; */
  position: relative;
  font-size: 32px;
  font-stretch: 75%;
  text-decoration: none;
}
.product1layer-crumbs1 {
  flex: 0 0 auto;
  display: none;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.product1layer-crumbs-container {
  flex: 0 0 auto;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-size: cover;
  justify-content: center;
  background-image: url("public/MyFolder/crumbs-img-200h.png");
}
.product1layer-crumbs-inner1 {
  flex: 0 0 auto;
  width: 1200px;
  display: flex;
  align-items: center;
}
.product1layer-navlink03 {
  font-size: 32px;
  font-stretch: 75%;
  text-decoration: none;
}
.product1layer-image3 {
  width: 15px;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.product1layer-navlink04 {
  font-size: 32px;
  font-stretch: 75%;
  text-decoration: none;
}
.product1layer-catalog {
  flex: 0 0 auto;
  width: 1200px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-fourunits);
  align-items: flex-start;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.product1layer-cards {
  flex: 0 0 auto;
  width: 1200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.product1layer-cards-col {
  flex: 0 0 auto;
  width: 1200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.product1layer-cards-row {
  flex: 0 0 auto;
  width: 1200px;
  height: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.product1layer-navlink05 {
  display: contents;
}
.product1layer-card {
  width: 280px;
  height: 330px;
  display: flex;
  overflow: hidden;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.5);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  background-color: rgba(255, 238, 211, 0.5);
}
.product1layer-card:hover {
  transform: scale(1.02);
}
.product1layer-card-img-inner {
  width: 280px;
  height: 216px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.product1layer-card-img {
  align-self: center;
  object-fit: cover;
}
.product1layer-card-text-inner {
  width: 280px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.product1layer-card-title {
  font-size: 32px;
  font-stretch: 75%;
  margin-bottom: var(--dl-space-space-halfunit);
}
.product1layer-card-descr {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  font-stretch: 75%;
}
.product1layer-navlink06 {
  display: contents;
}
.product1layer-card1 {
  width: 280px;
  height: 330px;
  display: flex;
  overflow: hidden;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.5);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  background-color: rgba(255, 238, 211, 0.5);
}
.product1layer-card1:hover {
  transform: scale(1.02);
}
.product1layer-card-img-inner1 {
  width: 280px;
  height: 216px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.product1layer-card-img01 {
  align-self: center;
  object-fit: cover;
}
.product1layer-card-text-inner1 {
  width: 280px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.product1layer-card-title1 {
  font-size: 32px;
  font-stretch: 75%;
  margin-bottom: var(--dl-space-space-halfunit);
}
.product1layer-card-descr1 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  font-stretch: 75%;
}
.product1layer-navlink07 {
  display: contents;
}
.product1layer-card2 {
  width: 280px;
  height: 330px;
  display: flex;
  overflow: hidden;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.5);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  background-color: rgba(255, 238, 211, 0.5);
}
.product1layer-card2:hover {
  transform: scale(1.02);
}
.product1layer-card-img-inner2 {
  width: 280px;
  height: 216px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.product1layer-card-img02 {
  align-self: center;
  object-fit: cover;
}
.product1layer-card-text-inner2 {
  width: 280px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.product1layer-card-title2 {
  font-size: 32px;
  font-stretch: 75%;
  margin-bottom: var(--dl-space-space-halfunit);
}
.product1layer-card-descr2 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  font-stretch: 75%;
}
.product1layer-navlink08 {
  display: contents;
}
.product1layer-card3 {
  width: 280px;
  height: 330px;
  display: flex;
  overflow: hidden;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.5);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  background-color: rgba(255, 238, 211, 0.5);
}
.product1layer-card3:hover {
  transform: scale(1.02);
}
.product1layer-card-img-inner3 {
  width: 280px;
  height: 216px;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.product1layer-card-img03 {
  align-self: center;
  object-fit: cover;
}
.product1layer-card-text-inner3 {
  width: 280px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.product1layer-card-title3 {
  font-size: 32px;
  font-stretch: 75%;
  margin-bottom: var(--dl-space-space-halfunit);
}
.product1layer-card-img04 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  font-stretch: 75%;
}
.product1layer-cards-row1 {
  flex: 0 0 auto;
  width: 1200px;
  height: 100%;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.product1layer-navlink09 {
  display: contents;
}
.product1layer-card4 {
  width: 280px;
  height: 330px;
  display: flex;
  overflow: hidden;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.5);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  background-color: rgba(255, 238, 211, 0.5);
}
.product1layer-card4:hover {
  transform: scale(1.02);
}
.product1layer-card-img-inner4 {
  width: 280px;
  height: 216px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.product1layer-card-img05 {
  align-self: center;
  object-fit: cover;
}
.product1layer-card-text-inner4 {
  width: 280px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.product1layer-card-title4 {
  font-size: 32px;
  font-stretch: 75%;
  margin-bottom: var(--dl-space-space-halfunit);
}
.product1layer-card-descr3 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  font-stretch: 75%;
}
.product1layer-navlink10 {
  display: contents;
}
.product1layer-card5 {
  width: 280px;
  height: 330px;
  display: flex;
  overflow: hidden;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.5);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  background-color: rgba(255, 238, 211, 0.5);
}
.product1layer-card5:hover {
  transform: scale(1.02);
}
.product1layer-card-img-inner5 {
  width: 280px;
  height: 216px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.product1layer-card-img06 {
  align-self: center;
  object-fit: cover;
}
.product1layer-card-text-inner5 {
  width: 280px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.product1layer-card-title5 {
  font-size: 32px;
  font-stretch: 75%;
  margin-bottom: var(--dl-space-space-halfunit);
}
.product1layer-card-descr4 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  font-stretch: 75%;
}
.product1layer-navlink11 {
  display: contents;
}
.product1layer-card6 {
  width: 280px;
  height: 330px;
  display: flex;
  overflow: hidden;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.5);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  background-color: rgba(255, 238, 211, 0.5);
}
.product1layer-card6:hover {
  transform: scale(1.02);
}
.product1layer-card-img-inner6 {
  width: 280px;
  height: 216px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.product1layer-card-img07 {
  align-self: center;
  object-fit: cover;
}
.product1layer-card-text-inner6 {
  width: 280px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.product1layer-card-title6 {
  font-size: 32px;
  font-stretch: 75%;
  margin-bottom: var(--dl-space-space-halfunit);
}
.product1layer-card-descr5 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  font-stretch: 75%;
}
.product1layer-navlink12 {
  display: contents;
}
.product1layer-card7 {
  width: 280px;
  height: 330px;
  display: flex;
  overflow: hidden;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.5);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  background-color: rgba(255, 238, 211, 0.5);
}
.product1layer-card7:hover {
  transform: scale(1.02);
}
.product1layer-card-img-inner7 {
  width: 280px;
  height: 216px;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.product1layer-card-img08 {
  align-self: center;
  object-fit: cover;
}
.product1layer-card-text-inner7 {
  width: 280px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.product1layer-card-title7 {
  font-size: 32px;
  font-stretch: 75%;
  margin-bottom: var(--dl-space-space-halfunit);
}
.product1layer-card-img09 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  font-stretch: 75%;
}
.product1layer-footer {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-size: cover;
  justify-content: center;
  background-image: url("public/MyFolder/bg-footer-min-1500w.jpg");
}
.product1layer-copy {
  flex: 0 0 auto;
  width: var(--dl-size-size-1328px);
  height: 50px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-self: center;
  align-items: flex-start;
}
.product1layer-copy-text {
  top: 0px;
  left: 0px;
  right: 0px;
  width: var(--dl-size-size-192px);
  bottom: 0px;
  margin: auto;
  position: absolute;
  align-self: center;
  object-fit: cover;
}
/* @media(max-width: 1600px) {
  .product1layer-branding {
    flex: 0 0 auto;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-fourunits);
  }
  .product1layer-image {
    width: auto;
  }
  .product1layer-image1 {
    left: 0px;
  }
  .product1layer-container1 {
    padding-left: 13%;
  }
  .product1layer-navlink01 {
    left: 13%;
  }
  .product1layer-navlink02 {
    left: 13%;
  }
  .product1layer-cards-col {
    margin-bottom: 0px;
  }
}
@media(max-width: 1200px) {
  .product1layer-burger-menu {
    display: flex;
  }
  .product1layer-navlink01 {
    left: 13%;
  }
  .product1layer-navlink02 {
    left: 13%;
  }
}
@media(max-width: 991px) {
  .product1layer-navbar-interactive {
    gap: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .product1layer-text1 {
    line-height: 30px;
  }
  .product1layer-container1 {
    padding-left: 15%;
  }
  .product1layer-navlink01 {
    left: 15%;
  }
  .product1layer-navlink02 {
    left: 15%;
  }
  .product1layer-card-img {
    height: 350px;
  }
  .product1layer-card-img01 {
    height: 350px;
  }
  .product1layer-card-img02 {
    height: 350px;
  }
  .product1layer-card-img03 {
    height: 350px;
  }
  .product1layer-card-img05 {
    height: 350px;
  }
  .product1layer-card-img06 {
    height: 350px;
  }
  .product1layer-card-img07 {
    height: 350px;
  }
  .product1layer-card-img08 {
    height: 350px;
  }
}
@media(max-width: 767px) {
  .product1layer-navbar-interactive {
    padding-top: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .product1layer-burger-menu {
    align-self: flex-start;
  }
  .product1layer-branding1 {
    max-width: 80%;
  }
  .product1layer-work-with-us {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .product1layer-container1 {
    padding-left: 22%;
  }
  .product1layer-navlink01 {
    left: 22%;
  }
  .product1layer-navlink02 {
    left: 22%;
  }
  .product1layer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .product1layer-mobile-menu {
    padding: 16px;
  }
  .product1layer-footer {
    padding: var(--dl-space-space-unit);
  }
} */
