<footer class="footer-main" id="contacts" style="background-image: url(./images/bg-footer-min-1500w.jpg);">
  <div class="footer-main__inner">
    <div class="footer-main__contacts">
      <ul class="contacts__list">
        <li class="contacts__list-item">
          <img class="list-item__img" alt="image" src="./images/geo.svg" />
          <a class="list-item__text" href="https://www.google.com/maps/search/?api=1&query=50.448508,30.4956964">
            Адреса: м. Київ, вул. Богдана Хмельницького, 67
          </a>
        </li>
        <li class="contacts__list-item">
          <img class="list-item__img" alt="image" src="./images/phone.svg" />
          <a class="list-item__text" href="tel:+380680000000">
            Телефон: +380 67 989 34 56
          </a>
        </li>
        <li class="contacts__list-item">
          <img class="list-item__img" alt="image" src="./images/email.svg" />
          <a class="list-item__text" href="mailto:info@cupstore.com?subject=">
            E-mail: info@cupstore.com
          </a>
        </li>
        <li class="contacts__list-item">
          <img class="list-item__img" alt="image" src="./images/time.svg" />
          <p class="time-text">
            <span>Час роботи:</span>
          </p>
          <p class="time-text">
            <span>Пн-Пт: 9:00 - 17:00</span>
            <br />
            <span>Сб: 9:00 - 16:00</span>
          </p>
        </li>
      </ul>
      <iframe class="contacts__map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.2346242600524!2d30.630073177565112!3d50.43673028835032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c5416d84e61d%3A0x818de044c4ef2b14!2z0KXQsNGA0LrRltCy0YHRjNC60LUg0YjQvtGB0LUsIDExLzEsINCa0LjRl9CyLCAwMjAwMA!5e0!3m2!1suk!2sua!4v1706131867169!5m2!1suk!2sua"
        width="540" height="322" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
    <div class="footer-main__copy">
      <a class="copy-main__logo" href="./index.html">
        <img class="logo" alt="image" src="./images/logo.svg" />
      </a>
      <img class="copy-main__sign" alt="image" src="./images/copyright.svg" />
    </div>
  </div>
</footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="./js/main.min.js"></script>
</body>

</html>