<header class="header" style="background-image: url(../images/bg-header-200h.jpg);">
  <div class="header__container">
    <a class="logo__link" href="./index.html">
      <img class="logo" alt="logo" src="./images/logo.svg" />
    </a>
    <div class="header__desktop">
      <nav class="menu">
        <button class="menu__btn">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <ul class="menu__list">
          <li class="menu__list-item">
            <a class="menu__list-link" href="#about">Про нас</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#product">Продукція</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#branding">Брендування</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#news">Новини</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#contacts">Контакти</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>