<header class="header">
  <div class="header__container">
    <a class="logo__link" href="./index.html">
      <img class="logo" alt="logo" src="./images/logo.svg" />
    </a>
    <div class="header__desktop">
      <nav class="menu">
        <button class="menu__btn">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <ul class="menu__list">
          <li class="menu__list-item">
            <a class="menu__list-link" href="#about">Про нас</a>
          </li>
          <li class="menu__list-item">
             <a class="menu__list-link" href="#product">Продукція</a>
          </li>
          <li class="menu__list-item">
             <a class="menu__list-link" href="#branding">Брендування</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#news">Новини</a>
          </li>
          <li class="menu__list-item">
             <a class="menu__list-link" href="#contacts">Контакти</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- <div class="home-burger-menu header__burger" data-thq="thq-burger-menu" >
              <svg class="home-icon01 burger__svg" viewBox="0 0 1024 1024">
                <path
                  d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z">
                </path>
              </svg>
            </div>
            <div class="home-mobile-menu header__mobile" data-thq="thq-mobile-menu" >
              <div class="home-nav1 ask" data-thq="thq-mobile-menu-nav" data-role="Nav">
                <div class="home-top mobile__head">
                  <div class="home-branding1 head__title">
                    <span class="home-text none">Cup Store</span>
                  </div>
                  <div class="home-menu-close head__close" data-thq="thq-close-menu">
                    <svg class="home-icon02 none" viewBox="0 0 1024 1024">
                      <path
                        d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z">
                      </path>
                    </svg>
                  </div>
                </div>
                <nav class="home-middle mobile__nav" data-thq="thq-mobile-menu-nav-links" data-role="Nav" >
                  <div class="home-links none">
                    <a class="home-link nav-link"  href="#about">Про нас</a>
                    <a class="home-link nav-link" href="#product">Продукція</a>
                    <a class="home-link nav-link" href="#branding">Брендування</a>
                    <a class="home-link nav-link" href="#news">Новини</a>
                    <a class="home-link nav-link" href="#contacts">Контакти</a>
                  </div>
                  <button class="home-work-with-us button">
                    <span class="home-text01 none">Замовити</span>
                  </button>
                </nav>
              </div>
            </div> -->
  </div>
</header>