<div class="popup popup-accepted" id="popup-accepted">
  <div class="popup-accepted__container">
    <div class="popup-accepted__decor">
      <div class="popup-accepted__circle">
        <img class="popup-accepted__sign" src="./images/img-thankyou-cup.png" alt="accepted">
      </div>
    </div>
    <h2 class="popup-accepted__title">Ваше замовлення прийнято!</h2>
    <p class="popup-accepted__descr">Наш менеджер зв'яжеться з Вами найближчим часом</p>
    <button type="button" class="popup-accepted__button button" onclick="toggle_thankyou()">
      <a class="popup-accepted__button-text">Дякую!</a>
    </button>
  </div>
</div>