.app-component-container {
  display: flex;
  position: relative;
}
.app-component-button {
  color: var(--dl-color-gray-black);
  width: 392px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  font-size: 20px;
  text-align: center;
  font-family: "Bahnschrift";
  padding-top: 10px;
  border-color: var(--dl-color-gray-black);
  border-width: 4px;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: row;
  padding-bottom: 10px;
  text-transform: capitalize;
  justify-content: center;
}
.app-component-text {
  font-size: 1.6rem;
  align-self: center;
  font-family: "Bahnschrift";
}
.app-component-image {
  width: 0.65 rem;
  height: 0.65 rem;
  align-self: center;
  object-fit: cover;
  margin-left: 0.5rem;
}
