.component1-container {
  width: 1982px;
  height: 536px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
}
.component1-heading {
  top: 99px;
  left: 400px;
  color: rgb(17, 68, 37);
  z-index: 100;
  position: absolute;
  font-size: 3rem;
  text-align: center;
  font-family: "Impact";
  text-transform: capitalize;
}
.component1-text {
  top: 236px;
  left: 393px;
  z-index: 99;
  position: absolute;
  font-size: 1.6rem;
  font-stretch: 75%;
}
.component1-container1 {
  top: 373px;
  left: 402px;
  display: flex;
  z-index: 98;
  position: absolute;
  align-self: flex-start;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.component1-button {
  color: var(--dl-color-gray-black);
  display: flex;
  font-size: 20px;
  text-align: center;
  font-family: "Bahnschrift";
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 4px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  text-transform: capitalize;
}
.component1-text1 {
  font-size: 1.6rem;
  align-self: center;
  font-family: "Bahnschrift";
  font-stretch: 75%;
}
.component1-image {
  top: 0px;
  left: 0px;
  width: 1980px;
  height: 525px;
  z-index: 90;
  position: absolute;
  object-fit: cover;
}
.component1-slider {
  top: 0px;
  right: 0px;
  width: 1980px;
  height: 450px;
  display: inline-block;
  position: absolute;
  align-self: center;
  box-shadow: 0px 15px 10px 0px rgba(0, 0, 0, 0.7);
}
.component1-slider-slide {
  width: 1990px;
  display: flex;
  background-size: 100%;
  background-image: url('https://images.unsplash.com/photo-1698180687511-bd6c0104ee98?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzQ5NXw&ixlib=rb-4.0.3&q=80&w=2000');
}
.component1-slider-slide1 {
  display: flex;
  position: relative;
  align-items: center;
  background-size: 100%;
  justify-content: center;
  background-image: url("public/MyFolder/top-slide-1-2000w.jpg");
}
.component1-slider-slide2 {
  display: flex;
  background-size: 100%;
  background-image: url('https://images.unsplash.com/photo-1697384333613-de519c7367c4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzAzN3w&ixlib=rb-4.0.3&q=80&w=2000');
}
.component1-slider-pagination {
  display: none;
}
.component1-slider-button-prev {
  display: none;
}
.component1-slider-button-next {
  display: none;
}
