.nav-links-links {
  width: 950px;
  height: 60px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.nav-links-link {
  color: #ffeed3;
  width: auto;
  font-size: 28px;
  font-family: "Bahnschrift";
  font-stretch: 75%;
  text-transform: capitalize;
}
.nav-links-link1 {
  color: #ffeed3;
  font-size: 28px;
  font-family: "Bahnschrift";
  font-stretch: 75%;
  text-transform: capitalize;
}
.nav-links-link2 {
  color: #ffeed3;
  font-size: 28px;
  font-family: "Bahnschrift";
  font-stretch: 75%;
  text-transform: capitalize;
}
.nav-links-link3 {
  color: #ffeed3;
  font-size: 28px;
  font-family: "Bahnschrift";
  font-stretch: 75%;
  text-transform: capitalize;
}
.nav-links-link4 {
  color: #ffeed3;
  font-size: 28px;
  font-family: "Bahnschrift";
  font-stretch: 75%;
  text-transform: capitalize;
}
@media(max-width: 1600px) {
  .nav-links-links {
    gap: var(--dl-space-space-fourunits);
    justify-content: center;
  }
}
@media(max-width: 1200px) {
  .nav-links-links {
    gap: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
}
@media(max-width: 991px) {
  .nav-links-link {
    padding-right: var(--dl-space-space-twounits);
  }
  .nav-links-link1 {
    padding-right: var(--dl-space-space-twounits);
  }
  .nav-links-link2 {
    padding-right: var(--dl-space-space-twounits);
  }
  .nav-links-link3 {
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .nav-links-links {
    display: none;
  }
}
