.news-card-blog-post-card {
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: var(--dl-size-size-1328px);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.51);
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.news-card-container {
  flex: 0 0 auto;
  width: 900px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #000000;
  align-items: flex-start;
  flex-direction: column;
}
.news-card-container1 {
  width: 100%;
  height: 300px;
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
}
.news-card-image {
  width: 100%;
  height: 100%;
  z-index: 99;
  object-fit: cover;
}
.news-card-text {
  left: 35px;
  color: var(--dl-color-gray-white);
  bottom: 16px;
  z-index: 100;
  position: absolute;
  font-size: 60px;
  font-family: "Impact";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.news-card-container2 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  will-change: transform;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(255, 238, 211, 0.4);
}
.news-card-container3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.news-card-text-blog {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: justify;
  font-family: "Bahnschrift";
  font-weight: 400;
  font-stretch: 75%;
}
.news-card-container4 {
  display: flex;
  align-self: flex-end;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-end;
}
.news-card-button {
  color: var(--dl-color-gray-black);
  display: none;
  font-size: 1 rem;
  text-align: center;
  transition: 0.3s;
  font-family: "Bahnschrift";
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 4px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
}
.news-card-button:hover {
  opacity: 0.5;
}
.news-card-text1 {
  font-size: 1rem;
  align-self: flex-end;
  font-stretch: 75%;
}
.news-card-image1 {
  width: 0.65 rem;
  height: 0.65 rem;
  align-self: center;
  object-fit: cover;
  margin-left: 0.5rem;
}
/* @media(max-width: 991px) {
  .news-card-container {
    width: 700px;
  }
  .news-card-container1 {
    height: 350px;
  }
  .news-card-image {
    z-index: 0;
  }
  .news-card-text {
    z-index: 1;
  }
  .news-card-container4 {
    display: none;
  }
}
@media(max-width: 767px) {
  .news-card-container {
    width: 430px;
  }
}
@media(max-width: 479px) {
  .news-card-container {
    width: 270px;
  }
  .news-card-container1 {
    height: 150px;
  }
  .news-card-text {
    font-size: 30px;
  }
} */
